*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:black;
}

:root{
    --azulReOscuro:#174F5C;
    --azulOscuro: #2A91A8;
    --cyanWay:#7CCFE1;
    --fullAzul: #37BDDB;
    --grisSombra:#4C595C;
}

html{
    background-color: var(--fullAzul);
}